body {
   background-image: url(../resources/images/background2.jpg);
   /*background-color: #f2f2f2;*/
}

.loginbody{
   background-image: url(../resources/images/background2.jpg);
   /*background-color: #f2f2f2;*/
}

/* NAVBAR */

.navbar {
    position: relative;
    border: 0px solid transparent
}

.navbar-default {
    background-color: #3b5998;
    border-color: #3b5998;
    -webkit-box-shadow: 0px 5px 9px 0px rgba(10,19,38,9);
    -moz-box-shadow: 0px 5px 9px 0px rgba(10,19,38,9);
    box-shadow: 0px 5px 9px 0px rgba(10,19,38,9);

}

.navbar-popup{
    background-color: #f2f2f2;
    border-color: #f2f2f2;
    border-radius: 0px 0px 0px 0px;
}

.navbar-fnt {
    font-family: "Verdana";
    font-size: 14px; 
    color: #f2f2f2 ! important;
}

.navbar-name {
    font-family: "Verdana";
    font-size: 14px;
    font-weight: bold;
    color: #f2f2f2;
}

.navbar-popup-fnt {
    font-family: "Verdana";
    font-size: 14px; 
    color: #3b5998;
}

.profile-popup-panel{
    background-color: #E2E2E2;
}

.navbar-popup-name {
    font-family: "Verdana";
    font-size: 14px;
    font-weight: bold;
    color: #3b5998;
}

.nav > li > a:focus, 
.nav > li > a:hover 
{ 
    color: #3b5998 ! important;
}


/* TÁBLÁZAT */

.resultTable .ui-datatable.ui-widget, .resultTable .ui-state-default.ui-filter-column, .resultTable .ui-datatable-tablewrapper th.ui-state-default,
.resultTable .ui-paginator.ui-paginator-top.ui-widget-header, .resultTable .ui-paginator.ui-paginator-bottom.ui-widget-header.ui-corner-bottom,
.resultTable .ui-paginator-rpp-options.ui-widget.ui-state-default.ui-corner-left{
    
    color: #fff;
    font-family: "Verdana";
    font-weight: normal;

}

th{
    background: #b5231b !important;
}

.resultTable .ui-outputpanel.ui-widget .ui-inputfield.ui-inputtext.ui-widget.ui-state-default.ui-corner-all{
    width:400px;
    margin-right: 0px; 
}

.ui-datatable{
    font-family:MyriadPro;
}

.ui-column-filter{
    display: none !important;
}

.ui-datatable-header {
    background: #627AAD !important;
}


.resultTable .ui-widget-header.ui-corner-top{
    background: #627AAD !important;
    border: 0px;
}

.resultTable .ui-inputfield.ui-inputtext.ui-widget.ui-state-default.ui-corner-all{
    border:1px solid #0059B2;
    box-shadow:none;
}

.resultTable .ui-button-text.ui-c{
    display:block;
    background:#0059B2;
    border:none;
    color:white;
    text-shadow:none;
}
.resultTable .searchtext{
    float:left;
    padding-top:6px;
    font-family:MyriadPro;
}

.resultTable .ui-paginator.ui-paginator-bottom.ui-widget-header.ui-corner-bottom{
    background: #627AAD !important;
    border: 0px;
}

.resultTable .ui-paginator-top { 
    display: none; 
}

.resultTable .ui-icon.ui-icon-seek-prev{
    background-image: none;
}

.resultTable .ui-icon.ui-icon-seek-next{
    background-image: none;
}

/* PANELEK */
.tablepanel {
    background-color: #627AAD;
    border: 0px solid #000000;
    -webkit-box-shadow: 0px 5px 9px 0px rgba(11,42,110,1);
    -moz-box-shadow: 0px 5px 9px 0px rgba(11,42,110,1);
    box-shadow: 0px 5px 9px 0px rgba(11,42,110,1);
    color: #fff;
    margin-top: 40px;
    padding-left: 25px;
    opacity: 0.9;
}

.loginpanel {
    background-color: #627AAD;
    border: 0px solid #000000;
    -webkit-box-shadow: 0px 5px 9px 0px rgba(11,42,110,1);
    -moz-box-shadow: 0px 5px 9px 0px rgba(11,42,110,1);
    box-shadow: 0px 5px 9px 0px rgba(11,42,110,1);
    color: #fff;
    margin-top: 40px;
    opacity: 0.9;
}

.login-body-panel {
    background-color: #627AAD;
    height: 600px;
    padding: 150px;
    border: 0px solid #000000;
    -webkit-box-shadow: 0px 5px 9px 0px rgba(11,42,110,1);
    -moz-box-shadow: 0px 5px 9px 0px rgba(11,42,110,1);
    box-shadow: 0px 5px 9px 0px rgba(11,42,110,1);
}

.admin-popup-panel {
    width: 430px;
}

.profile-popup-panel {
    width: 410px;
}

/* PANELGRID */

.panelGrid{
    border: 0px;
}

panelGrid.ui-panelgrid-cell{
    background-color: #E2E2E2 ! important;
}

.panelGrid.ui-panelgrid.ui-widget, .ui-panelgrid-cell{
    background-color: #627AAD;
    color: #fff;
    border: 0px;
    text-align: center;
}


/* DATASCROLLER */

.topicpanel{
    margin-top: 30px;
    margin-bottom: 40px;
    background-color: #627AAD ! important;
}

.topicElement{

   background-color: #E2E2E2;
   border-radius: 0px 0px 0px 0px;
   -moz-border-radius: 0px 0px 0px 0px;
   -webkit-border-radius: 0px 0px 0px 0px;
   border-bottom: 1px solid #A9A9A9;
}

.messageElement{
   margin-top: 10px;
   opacity: 0.9;
   background-color: #E2E2E2;
   border-radius: 0px 0px 0px 0px;
   -moz-border-radius: 0px 0px 0px 0px;
   -webkit-border-radius: 0px 0px 0px 0px;
   border: 0px solid #000000;
   -webkit-box-shadow: 0px 5px 9px 0px rgba(11,42,110,1);
   -moz-box-shadow: 0px 5px 9px 0px rgba(11,42,110,1);
   box-shadow: 0px 5px 9px 0px rgba(11,42,110,1);
}

.ui-datascroller-content.ui-widget-content.ui-corner-all{
    background-color: #627AAD ! important;
    border: 0px ! important;
}


.logo{
    margin-top: 20px;
}


/* DIALOG */

.dialogPopup{
    height: 100px;
    width: 400px;
    background-color: #627AAD ! important;
    color: #fff ! important;
}

.ui-dialog-titlebar, .ui-widget-header{
    background-color: #627AAD ! important;
}
